

<div class="container">
    <div class="row">
      <% if @book.errors.any? %>
  <div class="alert alert-warning">
    <p>error</p>
    <ul>
      <% @book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>


<%= render 'users/side', user: current_user, books: @book %>

<div class="col-lg-8">



<table class="table table-striped">


                    <tr>
                    	<th> </th>
                    	<th>Title</th>
                    	<th>Opinion</th>
                    </tr>

 <% @books.each do |book| %>

          					<tr>
                   	   <td> <%= attachment_image_tag(book.user, :image, :fill, 50, 50, fallback: 'noimage_mini.jpeg') %></td>


                       <td><%= link_to book.title, book_path(book.id), class: "book_#{book.id}" %></td>


                       <td><%= book.opinion %></td>
                    </tr>
 <% end %>

</table>
